h1 { color: red }
header { text-align: center }
#controls {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
tone-play-toggle {
	margin-bottom: 10px;
}
tone-slider {
	display: block;
	width: 100%;
}